[submodule "example/tiger/spoofaxcore"]
	path = example/tiger/spoofaxcore
	url = https://github.com/MetaBorgCube/metaborg-tiger.git
	branch = tiger-statix
[submodule "example/minics"]
	path = example/minics
	url = https://github.com/MetaBorgCube/metaborg-mini-csharp.git
